@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.title {
  font-weight: 600;
  font-size: 1.5rem; 
}

.subtitle {
  font-weight: 600;
  font-size: 1rem; 
}

hr {
  border-color: #049c8c;
  margin-top: 5px;
}
body{
  background-color: #F7F7F7;
}
form {
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
  max-width: calc(100% - 40px);
  border: 1px solid gray;
  padding: 10px;
  border-radius: 4px;
  margin: 20px;
}


form input {
  padding-left: 5px;
}

form * {
  text-align: left;
  width: 100%;
}

.profile-display {
  width: 600px;
  max-width: 100%;
  border: 1px solid gray;
  padding: 10px;
  max-width: calc(100% - 40px);
  margin-top: 20px;
  border-radius: 4px;
}
.profile-display .name {
  font-weight: 600;
}

.submit-button {
  width: max-content
}

.twoCol-right {
  width: 40%;
  height: 100%;
  /* flex-wrap: wrap; */
  display:inline-block; 
  max-height: 100%;
}
.twoCol-left {
  width: 40%;
  /* height: 100%; */
  /* flex-wrap: wrap; */
  /* justify-content: flex-start; */
  display:inline-block;
  margin-right: 10px;
}
.twoCol-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.twoCol-right-flex {
  margin: auto;
  /* background: tomato; */
  width: 50%;
}
.twoCol-left-flex {
  height: inherit;
  overflow: wrap;
  width: 50%;
}
.twoCol-container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.fancy-select {
  margin-bottom: 10px;
}
.free-text {
  margin-bottom: 10px;
}
.question-area {
  width: 80%;
  height: 500px;
  border-radius: 14px;
  margin-top: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.question-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #A94152;
  font-size: 20px;
  margin: 25px 0px;
}
#remote {
  margin: 100px 0px;
  width: 80%;
}
.btn-custom {
  border-color: #A94152;
  color: #A94152;
  margin: 0px 40px;
  border-radius: 5px !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  z-index: 1;
}
.btn-custom:hover, .btn-custom.active {
  color: white;
  background-color: #A94152 !important;
}
.question-nav {
  margin-top: auto;
  margin-bottom: 20px;
}