@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.title {
  font-weight: 600;
  font-size: 1.5rem; 
}

.subtitle {
  font-weight: 600;
  font-size: 1rem; 
}

hr {
  border-color: #049c8c;
  margin-top: 5px;
}
body{
  background-color: #F7F7F7;
}
form {
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
  max-width: calc(100% - 40px);
  border: 1px solid gray;
  padding: 10px;
  border-radius: 4px;
  margin: 20px;
}


form input {
  padding-left: 5px;
}

form * {
  text-align: left;
  width: 100%;
}

.profile-display {
  width: 600px;
  max-width: 100%;
  border: 1px solid gray;
  padding: 10px;
  max-width: calc(100% - 40px);
  margin-top: 20px;
  border-radius: 4px;
}
.profile-display .name {
  font-weight: 600;
}

.submit-button {
  width: max-content
}

.twoCol-right {
  width: 40%;
  height: 100%;
  /* flex-wrap: wrap; */
  display:inline-block; 
  max-height: 100%;
}
.twoCol-left {
  width: 40%;
  /* height: 100%; */
  /* flex-wrap: wrap; */
  /* justify-content: flex-start; */
  display:inline-block;
  margin-right: 10px;
}
.twoCol-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.twoCol-right-flex {
  margin: auto;
  /* background: tomato; */
  width: 50%;
}
.twoCol-left-flex {
  height: inherit;
  overflow: wrap;
  width: 50%;
}
.twoCol-container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.fancy-select {
  margin-bottom: 10px;
}
.free-text {
  margin-bottom: 10px;
}
.question-area {
  width: 80%;
  min-height: 500px;
  border-radius: 14px;
  margin-top: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.question-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #A94152;
  font-size: 20px;
  margin: 25px 0px 10px 0px;
  max-width: 80%;
}
.question-sub-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 275;
  color: #A94152;
  font-size: 14px;
}
.question-header {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #A94152;
  font-size: 30px;
  margin: 25px 0px 10px 0px;
  max-width: 80%;
}
.answerArea {
  margin: 20px 0px;
  width: 80%;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  max-height: 175px;
  padding: 75px 20px;
}
.btn-custom {
  border-color: #A94152;
  color: #A94152;
  border-radius: 5px !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  z-index: 1;
  height: 40px;
}
.btn-custom:hover, .btn-custom.active, .btn-custom-nav:hover:enabled, .btn-custom-nav.active {
  color: white;
  background-color: #A94152 !important;
  border-color: #A94152 !important;
  opacity: 100%;
}
.question-nav {
  margin-top: auto;
  margin-bottom: 20px;
}
.btn-custom-nav {
  border-color: #E3E3E3;
  background-color: #E3E3E3;
  color: #585858;
  margin: 0px 40px;
  border-radius: 5px !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  z-index: 1;
  width: 150px;
}
.btn-custom-nav:disabled:hover {
  color: #585858;
}
.search, .search:focus {
  width: 60%;
  border-color: #A94152 !important;
  border-radius: 7px;
  background-color: #F7F7F7;
  margin-top: 30px;
}
.search::placeholder {
  color: #C4C4C4;
}
.skip, .skip:hover {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration-line: underline;
  color: #B1B1B1;
  margin-top: auto;
}
#activity, #expectation {
  overflow: auto;
  padding: 0px 20px;
}
.unchecked {
  background: url(../../unchecked-red.png) no-repeat;
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 4px;
  background-size: 100%;
}
.btn-custom:hover > .unchecked {
  background: url(../../unchecked-white.png) no-repeat;
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 4px;
  background-size: 100%;
}
.checked{
  background: url(../../checked.png) no-repeat;
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 4px;
  background-size: 100%;
}
.add{
  background: url(../../add-red.png) no-repeat;
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 9px;
  background-size: 100%;
  position: relative;
  left: 25%;
}
.addOption, .addOptionText {
  width: 40px;
  border: 1px solid #A94152;
  color: #A94152;
  border-radius: 5px !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  z-index: 1;
  height: 40px;
}
.addOption:hover > .add {
  background: url(../../add-white.png) no-repeat;
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 9px;
  background-size: 100%;
  position: relative;
  left: 25%;
}
.addOption:hover {
  background-color: #A94152 !important;
  border-color: #A94152 !important;
}
.addOptionText {
  width: 250px !important;
  display: flex;
  flex-direction: row;
}
.addLeft{
  left: 6%;
}
.addInput, .addInput:focus {
  background-color: #F7F7F7;
  border: none;
  border-bottom: 1px solid #A94152;
  border-radius: 0px;
  width: 175px;
  margin: 5px 0px 0px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  height: 25px;
  outline-width: 0;
  color: #A94152;
}
#comments-box {
  max-width: 80%;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
#roll-dice, #submit {
  background-color: #A94152 !important;
  border-color: #A94152 !important;
  color: white;
}
#roll-dice {
  margin-top: auto;
}
#dice-result {
  font-family: 'Poppins', sans-serif;
  font-size: 96px;
  font-weight: 1000;
  color: #A94152;
}
.review-section {
  padding: 20px 60px 0px 20px;
  width: 100%;
}
.review-heading {
  width: 15%;
  text-align: right;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 16px;
  color: #A94152;
}
.review-text {
  width: 85%;
  text-align: left;
  padding-left: 20px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
}
.review-schedule {
  padding-right: 100px;
}
#submit, #submit-back {
  width: 180px;
}
.submitted-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #A94152;
  font-size: 36px;
  margin: 25px 0px 10px 0px;
  max-width: 80%;
}
#back-home {
  width: 200px;
  margin-top: 100px;
}
.factor-section {
  text-align: left;
  align-self: start;
  padding: 30px 0px 0px 100px;
}
.factor-question {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.factor-options {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.form-check {
  margin-top: 5px;
}
.form-check > label {
  margin-left: 10px;
}
#bubbleContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
}
.bubble {
  max-width: 125px;
  max-height: 125px;
  height: 125px;
  width: 125px;
  background: #A94152;
  border-radius: 50%;
  flex: 1;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bubbleText {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  padding: 0px 10px;
}
#bubbleControls {
  margin-top: 30px;
  width: 90%;
}
.legend {
  float: left;
  margin: 0px 20px;
}
.legendColor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.legendText {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
#sameBubble {
  background: #048621;
}
#differentBubble {
  background: #A94152;
}
#resetSizes {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration-line: underline;
  color: #B1B1B1;
  float: right;
}

#availability-buttons {
    top: 25%;
    font-family: 'Poppins', sans-serif;
}

#availability-buttons > * {
    margin-bottom: 10%;
    border-radius: 5px;
}