
/* https://stackoverflow.com/questions/53637704/how-to-set-same-dynamic-width-of-component-child-for-all-instances-web-componen/53690593
.container{
  display: inline-block;
  padding: 3px;
}

.item{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}

.item .plus{
  width: 15px;
  height: 15px;
  background-image: url("https://cdn1.iconfinder.com/data/icons/mix-color-3/502/Untitled-43-512.png");
  background-size: cover;
  background-repeat: no-repeat; 
  align-self: flex-end;
  margin-left: 10px;
} */


/* for Step Progress Bar */

/*make the width the same as the question area*/
/* ._53Ji7 {
    width: 100vw; !important;
    padding: 1rem 0vw;
} */

@media screen and (max-width: 640px) {
    .StepProgressBarCustomWrapper {
        width: 100vw !important;
        padding: 1rem 0vw !important;
        color: transparent;
    }
}

@media screen and (min-width: 640px) {
    .StepProgressBarCustomWrapper {
        width: 100vw !important;
        padding: 1rem 0vw !important;
        /* color: black; */
    }
}

/* hide the next/previous buttons from react-step-progress */
._3uApM {
    display: none !important;
}

._1hzhf {
    font-family: 'Poppins', sans-serif !important;
}

/* this is for the color of current step circle*/
._2Jtxm._35Ago ._2kL0S {
    background-color: #a94152 !important;
}

/* this is for the color of each completed step circle */
._2Jtxm._2ZUAI ._2JvrO {
    background-color: #a94152 !important;
}

/* this is for the lines between the step circles */
._2Jtxm._2ZUAI::before, ._2Jtxm._35Ago::before, ._2Jtxm._1CcaK::before {
    background-position: left bottom !important;
}

._2Jtxm:first-child::before {
    content: none !important;
}

._2Jtxm::before {
    content: '' !important;
    position: absolute !important;
    top: 50% !important;
    height: 3px !important;
    width: 100% !important;
    right: 50% !important;
    transform: translateY(-50%) !important;
    z-index: -1 !important;
    background: linear-gradient(to left, #e7eaf3 50%, #a94152 50%) !important;
    background-size: 200% 100% !important;
    background-position: right bottom !important;
    transition: background-position 200ms ease-in-out !important;
}

/* end of lines between the step circles */
/* End of Step Progress Bar */