
/* https://stackoverflow.com/questions/53637704/how-to-set-same-dynamic-width-of-component-child-for-all-instances-web-componen/53690593
.container{
  display: inline-block;
  padding: 3px;
}

.item{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}

.item .plus{
  width: 15px;
  height: 15px;
  background-image: url("https://cdn1.iconfinder.com/data/icons/mix-color-3/502/Untitled-43-512.png");
  background-size: cover;
  background-repeat: no-repeat; 
  align-self: flex-end;
  margin-left: 10px;
} */
