.myCustomPrefix__value-container > div {
  /* color: green; */
  position: static;
  top: auto;
  left: auto;
  transform: none;
  max-width: none;
}

.twoCol_right {
  width: 40%;
  height: 100%;
  /* flex-wrap: wrap; */
  display:inline-block; 
  max-height: 100%;
}
.twoCol_left {
  width: 40%;
  /* height: 100%; */
  /* flex-wrap: wrap; */
  /* justify-content: flex-start; */
  text-align: center;
  display:inline-block;
  margin-right: 10px;
}
.twoCol_container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.twoCol_right_flex {
  margin: auto;
  /* background: tomato; */
  width: 50%;
}
.twoCol_left_flex {
  height: inherit;
  width: 50%;
}
.twoCol_container_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}


/* https://stackoverflow.com/questions/53637704/how-to-set-same-dynamic-width-of-component-child-for-all-instances-web-componen/53690593
.container{
  display: inline-block;
  padding: 3px;
}

.item{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}

.item .plus{
  width: 15px;
  height: 15px;
  background-image: url("https://cdn1.iconfinder.com/data/icons/mix-color-3/502/Untitled-43-512.png");
  background-size: cover;
  background-repeat: no-repeat; 
  align-self: flex-end;
  margin-left: 10px;
} */